/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html,
 body {
   height: 100%;
 }
 .bg-image {
   background-image: linear-gradient(#00000061, #0000002e), url("01.jpg");
   background-position: center;
   background-size: cover;
 }
 .header-text{
  font-size: 2.013rem;
 }
 .header{
   position:fixed;
   width: 100%;
   z-index: 3;
 }
 .menu{
   height: 100%;
   transition: height .2s ease-out;
 }
 .menu-icon {
   cursor: pointer;
   display: inline-block;
   padding: 28px 20px;
   position:relative;
   user-select: none;
 }

 .menu-icon .navicon {
   background: #fff;
   display: block;
   height: 2px;
   position: relative;
   transition: background .2s ease-out;
   width: 18px;
 }
 .menu-icon .navicon:before,
.menu-icon .navicon:after {
  color: #fff;
  background: #3b82f6;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;
}

 .menu-btn:checked ~ .menu {
  max-height: 240px;
}

 .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media only screen and (max-width:320px) {
  .header-text{
    font-size: 1.66rem;
   }
}